.widget_container {
	display: flex;
	align-items: center;
	margin-block-end: 28px;
}

.input_time {
	height: 62px;
	width: 83px;
	font-size: var(--timer-text-size);
	text-align: center;
	border: 0px;
}

.time_separator {
	font-size: var(--timer-text-size);
	transform: translateY(-4px);
}